<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Web Scraper</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Amazon Scrapped Data</th>
      </tr>
    </thead>
    <tbody>
      <% @data.each do |item| %>
        <tr>
          <td><%= item %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  </body>
</html>